{{# partial "content"}}
    <div class="card">
        <div class="card-body">
            <section class="endangered-species" id="endangered">
                <h3 id="pom">Endangered Animal</h3>
                <form action="/endangered/new" method="post">
                    <input type="text" name="name" class="bom" placeholder="Animal Name" required>
                    <select name="health" class="bom" required>
                        <option value="" class="bom">Choose health option</option>
                        <option value="Healthy" class="bom">Healthy</option>
                        <option value="Ill" class="bom">Ill</option>
                        <option value="Injured" class="bom">Injured</option>
                    </select>
                    <select name="age" class="bom" required>
                        <option value="" class="bom">Chose age</option>
                        <option value="New Born" class="bom">New Born</option>
                        <option value="Young" class="bom">Young</option>
                        <option value="Old" class="bom">Old</option>
                    </select>
                    <button type="submit" class="btn-success">ADD</button>
                </form>
            </section>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}