{{# partial "styles"}}
    <link rel='stylesheet' href='/css/App.css'>
{{/partial}}

{{# partial "content"}}
        <h3 class="mob">Awesome Sight spotted</h3>
<!--        <p class="bom">Animal : {{animals_id}}</p>-->
        <p class="bom">Ranger : {{rangername}}</p>
        <p class="bom">Location : {{location}}</p>
        <p class="bom">Animal type : {{animal_type}}</p>
{{/partial}}
{{> layout.hbs}}