{{# partial "styles"}}
    <link rel='stylesheet' href='/css/App.css'>
{{/partial}}
{{# partial "content"}}
    <h3 class="mob">Awesome location added</h3>
    <p class="bom">location :{{sightings_location}}</p>
    <p class="bom">Date : {{date}}</p>
{{/partial}}
{{> layout.hbs}}