{{# partial "content"}}
    <div class="happy">
        <h2>Great! You have spotted an endangered animal</h2>
        <p class="mob">Location: {{location.name}}</p>
        <p class="mob">Sighting: {{sighting}}</p>
        <p class="mob">Ranger: {{ranger.name}}</p>
    </div>
{{/partial}}
{{> layout.hbs}}