{{#partial "styles"}}
    <link rel='stylesheet' href='/css/App.css'>
{{/partial}}
{{#partial "content"}}
    <h1 class="mob">Add a Sighting</h1>

    <form action="/sight/new" method="post">
        <div class="form-group">
                {{#each animals}}
                    <option value="{{animals.name}}">Name</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="ranger" class="bom">Ranger</label>
            <input class="bom" name="ranger" id="rangers_id" placeholder="Rangers" required>
        </div>
        <div class="form-group">
            <label for="location" class="bom">Location</label>
            <select class="bom" id='location' name='location' type='text'>
                <option class="bom" value="" disabled selected>Select a Location</option>
                <option class="bom" value="">ZONE A</option>
                <option class="bom" value="">Near the river</option>
                <option class="bom" value="">NE Quadarant</option>
            </select>
        </div>
        <div class="form-group">
            <label for="animalType" class="bom">Animal Type</label>
            <select class="bom" id='animal_type' name='animal_type' type='text'>
                <option class="bom" value="" disabled selected>Select Animal Type</option>
                <option value="animal" class="bom">Animal</option>
                <option value="endangered" class="bom">Endangered</option>
            </select>
        </div>
        <button type="submit" class="btn btn-dark-green">Add Sighting</button>
    </form>
{{/partial}}
{{> layout.hbs}}
